<% payment_source = payment.source %>
<div class="credit-card">
  <span><%= image_tag "solidus_six_saferpay/credit_cards/icons/#{payment_source.icon_name}.png" %></span>
  <span><%= payment_source.display_text %></span>
</div>
<div>
  <%= payment.display_amount %>
</div>
